<div class="footer-top section">
    <div class="container">
        <div class="footer-brand">

            <a href="#" class="logo">
                <img src="/assets/images/logo.png" width="128" height="63" alt=""/>
            </a>
        </div>
        
        <ul class="footer-list">
            <li>
                <p class="h3">Время работы</p>
                
            </li>
            <li>
                <p class="p">Понедельник - Воскресенье</p>
                <span class="span">8.00 - 22.00</span>
            </li>
            
        </ul>
        
        <ul class="footer-list">
            
            <li>
                <p class="h3">Контакты</p>
            </li>
            <li>
                <a href="tel:+79177793607" class="footer-link">
                    <span class="material-symbols-rounded">call</span>
                    <span class="span">+79177793607</span>
                </a>
            </li>
            <li>
                <a href="mailto:autoservice@gmail.com" class="footer-link">
                    <span class="material-symbols-rounded">mail</span>
                    <span class="span">autoservice@gmail.com</span>
                </a>
            </li>
            <li>
                <address href="#" class="footer-link address">
                    <span class="material-symbols-rounded">location_on</span>
                    <span class="span">г. Казань, ул Чистопольсая 25</span>
                </address>
            </li>
        </ul>
        
        
    </div>
    
    <img src="/assets/images/footer-shape-3.png" width="637" height="173" loading="lazy" alt="" class="shape shape-3 move-anim"/>
</div>

<div class="footer-bottom">
    <div class="container">
        <p class="copyright">Copyright 2024, AutoService Все права защищены.</p>
        
        <img src="/assets/images/footer-shape-2.png" 
             width="778" height="335" alt="" loading="lazy" class="shape shape-2">
        
        <img src="/assets/images/footer-shape-1.png"
             width="805" height="652" alt="" loading="lazy" class="shape shape-1 move-anim"/>
    </div>
</div>

@code{

}

